
@font-face {
    font-family: "segoe-script";
    src: url(https://fonts-server.herokuapp.com/segoe);
    font-style: normal;
    font-weight:400;
}

body{
    margin: 0;
    font-family: 'Segoe UI';  
    background-color: #FEFDFC;  
}

figure{
    margin: 0;
}

p{
    margin: 0;
}
/* *************** HEADER */
.header{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    background-color: #fefefe;
    height: 84px;
    width: 78.2%;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    font-size: 29px;    
    display: flex;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.nav_text{
    font-weight: 600;
    padding-right: 16px;

    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
}
.nav_text a{
    font-size: 20px;
    color: #D87326;
    text-decoration: none;
    padding: 22px 0;
    border-bottom: 3px solid #D87326;
    margin-right: 52px;
}
.nav_logo{
    padding-left: 74px;
    display: flex;
    align-items: center;
    width: 50%;
}
.nav_logo img{
    height: 46px;
    width: 229px;
    cursor: pointer;
}
.nav_logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hero{
    background-image: url("./images/hero.png");
    background-size: 100%;
    background-position-y: 80%;
    width: 78.2%;
    height: 238px;
    margin-top: 25px;
    border-radius: 19px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.30);
    border-radius: inherit;
    z-index: 1;
}
.hero h1{
    color: #fefefe;
    position: relative;
    z-index: 2;
    margin: 0;
}
/* *************** MAIN */
#main{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.main_section{
    width: 78.2%;
    padding-bottom: 32px;
    position: relative;    
    background-color: #fefefe;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    border-radius: 19px;
}


.menu_title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.menu_title{
    background-color: #FBFBFB;
    border-radius: 36px;
    width: 405px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 36px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}
.menu_title h2{
    color: #8E8E8E;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.menu_title_icon{
    height: 38px;
    width: 47px;
    margin-right: 15px;
}
.pizzas_menu{
    padding: 0 62px; 
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
}
.pizza_option{
    height: 96px;
    width: 91.7%;
    margin-bottom: 31px;
    background-color: rgb(240, 163, 21);
    background-size: 100%;
    background-position-x: center;
    border-radius: 19px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
    cursor: pointer;
}
.pizza_option::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.40);
    border-radius: inherit;
    z-index: 1;
}
.pizza_option:hover{
    background-size: 110%;  
}
.pizza_option_title{
    position: relative;
    z-index: 2;
    font-size: 27px;
    font-weight: 600;
    color: #FCFCFC;
}


.orillas_option{
    background-image: url("./images/orilla_de_queso.jpg");
    background-position-y: 75%;    
}

.pepperoni_option{
    
    background-image: url("./images/pepperoni.png");
    background-position-y: 42%;
}
.ham_option{    
    background-image: url("./images/jamon.png");
    background-position-y: 60%;
}

.garlick_bread_option{    
    background-image: url("./images/garlick_bread.png");
    background-position-y: 8%;
}
.order_option{
    background-image: url("./images/order.jpg");
    background-position-y: 52%;
}
.palitroques_option{
    background-image: url("./images/palitroques.jpg");
    background-position-y: 59%;
}


/* *************************  FOOTER  */
.footer{
    margin-top: 63px;
    position: relative;

    display: flex;
    justify-content: space-around;
}

.footer_container{
    background-color: #FEFEFE;
    width: 78.2%;
    height: 84px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}
.footer_items a{
    font-family: 'Noto Sans', sans-serif;
    color: #4B4B4B;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;

    display: flex;
    align-items: center;
}
.footer_items img{
    margin-right: 3px;
}
.footer_items figure{
    display: flex;
    justify-content: center;
    min-width: 26px;
}
.footer_items{
    display: flex;
    flex-direction: column;
}

.display-none{
    display: none;
}