@media screen and (max-width: 1700px){
    .nav_text a {
        font-size: 17px;
    }
    .pizza_option {
        height: 91px;
    }
    .pizza_option_title{
        font-size: 24px;
    }
    .menu_tite h2{
        font-size: 18px;
    }
    .nav_logo img {
        height: 40px;
        width: 216px;
    }
    .footer{
        margin-top: 37px;
    }
}

@media screen and (max-width: 1450px){
    .navbar{
        height: 69px;
    }
    .nav_text a {
        padding:  17px 0;
    }
    .pizza_option {
        height: 79px;
    }
    
}



@media screen and (max-width: 1366px){
    .hero{
        height: 200px;
    }
    .hero h1{
        font-size: 26px;
    }
}

@media screen and (max-width: 1024px){    
    .nav_logo img {
        height: 31px;
        width: 155px;
    }
    .pizza_option {
        height: 62px;
        border-radius: 12px;
    }
    .pizza_option_title {
        font-size: 18px;
    }
    .menu_title h2{
        font-size: 18px;
    }
    .menu_title_icon {
        height: 36px;
        width: 42px;
    }
    .menu_title{
        width: 360px;
        height: 47px;
    }
    .navbar{
        flex-direction: column;
        height: 109px;
        align-items: center;
        width: 100%;
    }
    .nav_logo{
        width: 100%;
        justify-content: center;
        padding: 0;
        padding-top: 22px;
    }
    .nav_text{
        padding: 0;
        justify-content: space-around;
        padding-top: 17px;
    }
    .nav_text a {
        padding: 0;
        margin: 0;
        border: 0;
    }
    .pizzas_menu{
        padding: 0 42px;
    }
    .hero{
        width: 87.2%;
    }
    .hero h1 {
        text-align: center;
        margin: 0 22px;
    }
    .footer_container{
        width: 100%;
    }
    .main_section{
        width: 87.2%;
    }
}

@media screen and (max-width: 767px){
    .hero {
        height: 165px;
    } 
    .footer_container{
        flex-direction: column;
    } 
    .footer_container{
        height: 258px;
        justify-content: initial;
        padding-top: 47px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .footer_items {
        width: 288px;
    }
    .footer_items a {
        margin-bottom: 24px;
    }

}

@media screen and (max-width: 640px){
    .pizzas_menu{
        grid-template-columns: 1fr;
    }
    .pizza_option{
        height: 71px;
        justify-self: center;
    }
    .hero h1 {
        font-size: 22px;
    }
    .navbar{
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    .nav_text{
        width: 58%;
    }
    
}
@media screen and (max-width: 480px){
    .nav_text {
        width: 80%;
    }
    .pizza_option{
        width: 100%;
    }
    .pizzas_menu {
        padding: 0 6%;
    }
    .menu_title {
        width: 250px;
        height: 41px;
    }
    .menu_title h2 {
        font-size: 11px;
    }
    .menu_title_icon {
        height: 25px;
        width: 28px;
    }
    .pizza_option_title {
        font-size: 14px;
    }
    .pizza_option {
        height: 64px;
    }
    .nav_text a {
        font-size: 15px;
    }
    .hero h1 {
        font-size: 18px;
    }
}


@media screen and (max-width: 370px){
    
    
}