@media screen and (max-width: 1700px){
    .main_section {
        margin-right: 10%;
        margin-left: 3.5%;
        width: 65%;
    }
    .main_content{
        padding-top: 51px;
    }
    .offer_var{
        width: 19%;
    }
    .offer_container{
        height: 567px;
        margin-left: 15%;
    }
    .navbar{
        height: 100px;
    }
    .nav_logo img {
        height: 77px;
        width: initial;
    }
    #main{
        margin-top: 10px;
    }
    .linea_horizontal{
        top: 132px;
    }
    .linea_vertical{
        left: 24%;
    }
    .create_image {
        width: 48%;
    }
    .combo_pizza_image img {
        width: 42.35%;
    }
    .pan_ajo_image img {
        max-width: 190px;
    }
    .potatoes_image img {
        max-height: 149px;
        margin-left: 10%;
    }
    .more_combos{
        font-size: 19px;
    }
    .nav_text{
        font-size: 19px;
    }
    .linea_h_combos {
        width: 413px;
    }
}

@media screen and (max-width: 1450px){
    .navbar {
        height: 73px;
    }
    .number_of_people{
        font-size: 19px;
        height: 74px;
        border-radius: 19px
    }
    .first_offer_text {
        font-size: 21px;
    }
    .more_combos {
        font-size: 15px;
        height: 45px;
        border-radius: 11px;
    }
    .offer_pizza_image img {
        height: 104px;
        margin-top: 18px;
    }
    .pedido_logo img {
        height: 54px;
        width: initial;
    }
    .pedido_logo {
        font-size: 17px;
        padding-top: 20px;
    }
    .offer_container{
        padding: 45px 23px 35px 23px;
        width: 59%;
        height: 436px;
    }
    .pizza_tag img {
        height: 61px;
    }
    .nav_logo img {
        height: 61px;
    }
    .linea_horizontal {
        top: 97px;
        height: 2px;
    }
    .linea_vertical {
        width: 396px;
        height: 2px;
        top: 328px;
        left: 24%
    }
    .main_content {
        padding-top: 41px;
    }
    .create_icon{
        height: 48px;
        width: initial;
    }
    .create_image {
        width: 39%;
    }
    .create_pizza_text{
        font-size: 21px;
        margin-top: 20px
    }
    .primer_combo_text{
        font-size: 19px;
    }
    .pan_ajo_image img {
        max-width: 160px;
    }
    .potatoes_image img {
        max-height: 116px;
    }
    .pick_it_up{
        height: 50px;
        width: 85%;
        border-radius: 12px;
        font-size: 21px;
        
    }
    .linea_h_combos {
        width: 363px;
        height: 2px;
    }
    .linea_v_combos {
        width: 111px;
        height: 2px;
        left: 40%;

    }
    #main{
        margin-bottom: 50px;
    }
}



@media screen and (max-width: 1200px){
    #main{
        flex-direction: column-reverse;
    }
    .main_section{
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
    }
    .pedido_logo{
        width: 100%;
    }
    .footer_pizza_icon{
        margin-right: 35px;
        height: 72px;
    }
    .offer_var {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .offer_container{
        margin: 0;
        margin-top: 110px;
        height: 535px;
    }
    .number_of_people{
        width: 57%;
        font-size: 26px;
        margin-top: 18px;
        margin-bottom: 6px;
    }
    .more_combos{
        width: 57.5%;
        height: 63px;
        font-size: 19px;
    }
    .offer_pizza_image img{
        height: 183px;
    }
}