.bye_products{
    animation-name: bye_products;
    animation-duration: 1s;
    animation-fill-mode:none;
    animation-iteration-count: 1;  
}
.back_products{
    animation-name: back_products;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1; 
}

@keyframes bye_products{
    0%{
        position: absolute;
        right: 0;
        left: 0;
    }
    100%{
        position: absolute;
        right: 0;
        left: 0;
        transform: translateX(-50vw);
        opacity:0;
    }
}

@keyframes back_products{
    0%{
        transform: translateX(-50vw);
        opacity:0;
    }
    100%{
        transform: translateX(0vw);
        opacity:1;
    }
}


.hello_products{
    animation-name: hello_products;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;  
}
@keyframes hello_products{
    0%{
        transform: translateX(50vw);
        opacity:0;
    }
    100%{
        transform: translateX(0vw);
        opacity:1;
    }
}



/* ANIMACIONES PARA ELIMINAR ELEMENTOS DE LA COMPRA */
.eliminate_product{
    animation-name: eliminate_product;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-iteration-count: 1; 
}

@keyframes eliminate_product{
    0%{
        opacity: 0;
        
    }
    100%{
        width: 0;
        opacity: 1;
    }
}