@media screen and (max-width: 1500px){
    .nav_logo img {
        height: 73px;
        width: 92px;
    }
    .nav_text_p{
        font-size:26px;
    }
    .level_selection {
        width: 43px;
        height: 11px
    }
    .navbar{
        padding-bottom: 4px;
    }
    .buying_title{
        padding-bottom: 0px;
    }
    .product_container{
        height: 282px;
        width: 274px
    }
    .cancel_button{
        height: 69px;
        width: 324px;
    }
}

@media screen and (max-width: 1366px){
    .navbar{
        padding-top: 37px;
    }
    .nav_logo img {
        height: 58px;
        width: 73px;
    }
    .nav_container{
        width: 20%
    }
    .level_selection{
        margin: 0 21px;
        width: 32px;
        height: 9px;
    }
    .buying_title h2 {
        font-size: 20px;
        margin-top: 12px;
    }
    
    .back_button_container img {
        height: 40px;
    }
    .nav_text_p {
        font-size: 21px;
    }
    .buying_title{
        margin-top: 0px;
    }
    .product_container {
        height: 180px;
        width: 173px;
        border-radius: 33px;
    }
    .product_1 img{
        margin-top: 34px;
    }
    .product_name{
        margin-top: 28px;
        font-size: 13px;
    }
    .pan_ajo_image {
        max-width: 60px;
        height: 32px;
    }
    .potatoes_image{
        height: 42px;
    }
    .product_2 img{
        margin-top: 16px;
    }
    .combo_images img{
        margin: 0;
    }
    .separator_line{
        height: 127px;
        top: 30%;
    }
    .product_2 hr {
        top: 31%;
    }
    .product_2 p {
        margin-top: 35px;
    }
    .product_3 p {
        margin-top: 29px;
    }
    .product_name {
        margin-top: 39px;
    }
    .buying_title{
        margin-bottom: 26px;
    }
    .skip_step{
        font-size: 16px;
        font-weight: 600;
    }
    .controls{
        margin-top: 33px;
    }
    .cancel_button{
        font-size: 17px;
        border-radius: 12px;
        height: 41px;
        width: 231px;
        border: 2px solid;
    }
}

@media screen and (max-width: 950px){
    .navbar {
        padding-top: 33px;
    }
    .nav_container {
        width: 23%;
    }
    .level_selection {
        margin: 0 18px;
        width: 29px;
        height: 8px;
    }
    .nav_logo img {
        height: 51px;
        width: 62px;
    }
    .nav_text_p {
        font-size: 19px;
    }
    .buying_title h2 {
        font-size: 19px;
        margin-top: 6px;
    }
    .product_container {
        height: 168px;
        width: 160px;
        border-radius: 22px;
        margin: 0 23px;
    }
    .back_button_container img{
        margin-right: -67px;
    }
    .cancel_button{
        margin-top: 25px;
        height: 39px;
    }
}

@media screen and (max-width: 767px){
    .navbar{
        background-color: #ECFCFF;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.466);
        margin-bottom: 25px;
    }
    .level_selection {
        margin: 0 14px;
        width: 26px;
        height: 7px;
    }
    .buying_title h2{
        margin-top: 15px;
    }
    .cancel_button{
        margin-bottom: 29px;
    }
    .nav_container {
        width: 31%;
    }
    .back_button_container img {
        margin-right: -47px;
        margin-top: 47px;
    }
}

@media screen and (max-width: 600px){
    .navbar {
        padding-top: 16px;
        margin-bottom: 0;
    }
    .nav_container {
        width: 53%;
    }
    .level_selection {
        margin: 0px 11px;
        width: 27px;
        height: 7px;
    }
    .products_selection_container{
        flex-direction: column-reverse;
    }
    .product_container{
        margin: 15px 23px
    }
    .back_button_container img {
        margin-top: 85px;
        margin-right: -68px;
    }
    .back_button_container {
        width: 0%;
    }
    .progress_var {
        width: 100%;
    }
    .progress_wrapper{        
        padding-right: 0;
    }
    .buying_title h2 {
        margin-top: 0px;
    }
    .buying_title {
        margin-bottom: 16px;
    }
    .progress_wrapper {
        width: 90%;
    }
}