@media screen and (max-width: 1800px){
    .login_with_hr{
        right: 7.5%;
    }
    .normal_login_hr{
        right: 86px;
    }
}

@media screen and (max-width: 1500px){
    .nav_logo img {
        height: 73px;
        width: 92px;
    }
    .nav_text_p{
        font-size:26px;
    }
    .level_selection {
        width: 43px;
        height: 11px
    }
    .navbar{
        padding-bottom: 4px;
    }
    .buying_title{
        padding-bottom: 0px;
    }
    .product_container{
        height: 282px;
        width: 274px
    }
    .cancel_button{
        height: 69px;
        width: 324px;
    }

    .normal_login input{
        width: 333px;
        height: 57px;
        font-size: 22px;
    }
    .login_wrapper{
        margin-top: -55px;
        margin: 24px 0;
    }
    .login_container{
        margin-top: -52px
    }
    .register_btn{
        height: 55px;
        width: 177px;
        font-size: 26px;
    }
    .facebook_login{
        height: 62px;
        width: 357px;
        font-size: 24px;
    }
    .google_login{
        height: 60px;
        width: 251px;
        font-size: 24px;

    }
    .normal_login input {
        width: 319px;
        height: 50px;
        font-size: 21px;
    }

    .login_with_hr {
        right: 178px;
    }
    
}

@media screen and (max-width: 1366px){
    .navbar{
        padding-top: 37px;
    }
    .nav_logo img {
        height: 58px;
        width: 73px;
    }
    .nav_container{
        width: 20%
    }
    .level_selection{
        margin: 0 21px;
        width: 32px;
        height: 9px;
    }
    .buying_title h2 {
        font-size: 20px;
        margin-top: 12px;
    }
    
    .back_button_container img {
        height: 40px;
    }
    .nav_text_p {
        font-size: 21px;
    }
    .buying_title{
        margin-top: 0px;
    }
    .product_container {
        height: 180px;
        width: 173px;
        border-radius: 33px;
    }
    .product_1 img{
        margin-top: 34px;
    }
    .product_name{
        margin-top: 28px;
        font-size: 13px;
    }
    .pan_ajo_image {
        max-width: 60px;
        height: 32px;
    }
    .potatoes_image{
        height: 42px;
    }
    .product_2 img{
        margin-top: 16px;
    }
    .combo_images img{
        margin: 0;
    }
    .separator_line{
        height: 127px;
        top: 30%;
    }
    .product_2 hr {
        top: 31%;
    }
    .product_2 p {
        margin-top: 35px;
    }
    .product_3 p {
        margin-top: 29px;
    }
    .product_name {
        margin-top: 39px;
    }
    .buying_title{
        margin-bottom: 26px;
    }
    .skip_step{
        font-size: 16px;
        font-weight: 600;
    }
    .controls{
        margin-top: 33px;
    }
    .cancel_button{
        font-size: 17px;
        border-radius: 12px;
        height: 41px;
        width: 231px;
        border: 2px solid;
    }

    /* LOGIN LAYOUT */
    .normal_login input {
        width: 273px;
        height: 40px;
        font-size: 21px;
        margin: 16px 0;
        border: 2px solid #7B7ED2;
        border-radius: 7px;
    }
    .register_btn {
        height: 41px;
        width: 138px;
        font-size: 21px;
        border-radius: 8px;
    }
    .normal_login_hr{
        width: 2px;
        height: 212px;
        top: 2px;
    }
    .buying_title {
        margin-bottom: 78px;
    }
    .facebook_login {
        height: 46px;
        width: 271px;
        font-size: 20px;
        border-radius: 8px;
        margin-bottom: 35px;
    }
    .google_login {
        height: 46px;
        width: 212px;
        font-size: 20px;
        border-radius: 8px;
    }
    .login_with_hr {
        right: 15%;
        height: 207px;
        width: 2px;
        top: 3px;
    }
    .skip_login{        
        font-size: 21px;
    }
    .skip_login_container{
        padding-top: 0;
    }


    .resumen_wrapper p {
        font-size: 22px;
    }
    .item_container{
        height: 55px;
        width: 765px;
    }
    .resume_buttons a{
        font-size: 26px;
    }
    .resume_buttons button{
        font-size: 17px;
        height: 47px;
        width: 231px;
    }
    .titles{
        width: 766px
    }
    
}


@media screen and (max-width: 1150px){
    .login_with_hr {
        right: 10%;
    }
    .normal_login_hr{
        right: 8%;
    }
    .resumen_wrapper{
        padding: 0 15%;
        width: 70%;
    }
    
}


@media screen and (max-width: 950px){
    .navbar {
        padding-top: 33px;
    }
    .nav_container {
        width: 23%;
    }
    .level_selection {
        margin: 0 18px;
        width: 29px;
        height: 8px;
    }
    .nav_logo img {
        height: 51px;
        width: 62px;
    }
    .nav_text_p {
        font-size: 19px;
    }
    .buying_title h2 {
        font-size: 19px;
        margin-top: 6px;
    }
    .product_container {
        height: 168px;
        width: 160px;
        border-radius: 22px;
        margin: 0 23px;
    }
    .back_button_container img{
        margin-right: -67px;
    }
    .cancel_button{
        margin-top: 25px;
        height: 39px;
    }

    .normal_login_input{
        margin: 14px 0;
        width: 231px;
        height: 37px;
    }
    .facebook_login{
        height: 43px;
        width: 244px;
        font-size: 18px;
        margin-bottom: 29px;
    }
    .google_login {
        height: 43px;
        width: 198px;
        font-size: 18px;
    }
    .normal_login_hr {
        right: 4%;
    }

    .resumen_wrapper p {
        font-size: 19px;
    }
    .item_container{
        width: 644px;
    }
    .titles{
        width: 647px;
    }
    .titles p{
        margin-right: 106px;
    }
    .resumen_wrapper {
        padding: 0 7%;
        width: 86%;
    }
}

@media screen and (max-width: 767px){
    .navbar{
        background-color: #ECFCFF;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.466);
        margin-bottom: 25px;
    }
    .level_selection {
        margin: 0 14px;
        width: 26px;
        height: 7px;
    }
    .buying_title h2{
        margin-top: 15px;
    }
    .cancel_button{
        margin-bottom: 29px;
    }
    .nav_container {
        width: 31%;
    }
    .back_button_container img {
        margin-right: -47px;
        margin-top: 47px;
    }

    .login_wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 84px;
    }
    .normal_login{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .login_with{
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 99px
    }
    .login_with_hr{
        display: none;
    }
    .normal_login_hr{
        height: 1px;
        width: 322px;
        bottom: 0;
        top: initial;
        left: 0;
        right: 0;
    }
    .formulario{
        padding-bottom: 68px;
    }

    .item_container {
        width: 95%;
        height: 71px;
    }
    .resumen_wrapper p {
        font-size: 18px;
        
    }
    .buttons_container{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .resume_buttons button {
        margin: 29px;
        font-size: 17px;
        height: 51px;
        width: 278px;
    }
    .titles{
        width: 95%;
    }
    
    
}

@media screen and (max-width: 600px){
    .navbar {
        padding-top: 16px;
        margin-bottom: 0;
    }
    .nav_container {
        width: 53%;
    }
    .level_selection {
        margin: 0px 11px;
        width: 27px;
        height: 7px;
    }
    .products_selection_container{
        flex-direction: column-reverse;
    }
    .product_container{
        margin: 15px 23px
    }
    .back_button_container img {
        margin-top: 85px;
        margin-right: -68px;
    }
    .back_button_container {
        width: 0%;
    }
    .progress_var {
        width: 100%;
    }
    .progress_wrapper{        
        padding-right: 0;
    }
    .buying_title h2 {
        margin-top: 0px;
    }
    .buying_title {
        margin-bottom: 16px;
    }
    .progress_wrapper {
        width: 90%;
    }
    .resumen_container {
        margin-top: -23px;
    }
    .resumen_wrapper p {
        font-size: 15px;
    }
    .resume_buttons button{
        font-size: 15px;
        height: 47px;
        width: 283px
    }
    .resumen_wrapper p{
        margin-left: 37px;
    }
    .resume_buttons a {
        font-size: 24px;
    }
}

@media screen and (max-width: 500px){
    .resumen_wrapper {
        padding: 0 4%;
        width: 93%;
    }
    .titles {
        width: 96%;
    }
    .resumen_wrapper {
        padding: 0 3%;
        width: 94%;
    }
    .resumen_wrapper p {
        font-size: 13px;
        margin-left: 32px;
        margin-right: 32px;
    }
    .resume_details img{
        margin-right: 29px;
    }
    .titles p{
        margin: 36px 69px 19px 32px;
    }
    #resume_cancel_btn{
        margin-top: 11px;
    }
}